@font-face {
	font-family: AndikaNewBasic-R;
	src: url('../../../../../../Downloads/AndikaNewBasic-R.ttf') format('truetype');
}

.search {
	background-color: #cfcfd1;
	display: inline-block;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10px;
	height: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	width: 600px;
	border-radius: 10px;

}

.table_div {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.text_box {
	width:100%;
}


h1 {
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: 10px;
}

html, body {
	font-family: Kalinga;
	max-width: 100%;
	overflow-x: hidden;
	justify-content: space-around;
}

table {
	margin: 10px auto;
	width: 50%;
	display: inline-table;
	float: none;
	border-radius: 10px;

}

.td-fixedSize {
	width: 10%;
}

.add_tr {
	text-align: center;
}