
<div>
    <div class="search">
        Pretraži!
        <input data-ng-model="searchString" />
        <!--pri kliku na search, ulazimo u filteringMode i prikazuje se gumb za ponistavanje pretrage--> 
        <button ng-disabled="!searchString" data-ng-click="filteringMode = true; search(searchString)">
            <img src="~/Resources/Icon_search.ico" />
        </button>
        <button ng-show="filteringMode" data-ng-click="filteringMode = false;">Poništi pretragu</button>
    </div>
    <div class="table_div">
        <table id="contactsTable" class="table table-striped table-hover allContactsTable">
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Adresa</th>
                <th>E-mail</th>
                <th>Broj telefona</th>
                <th>Tagovi</th>
                <th>Detalji</th>
                <th>Obriši</th>
            </tr>
            <!--tablica koja se sakrije ako je aktivan filteringMode, sadrzi sve kontakte-->
            <tr data-ng-hide="filteringMode" data-ng-repeat="contact in contacts">
                <td>{{contact.Name}}</td>
                <td>{{contact.Surname}}</td>
                <td>{{contact.Address}}</td>
                <td><ul data-ng-repeat="em in contact.Emails"><li>{{em.Email1}}</li></ul></td>
                <td><ul data-ng-repeat="tel in contact.Telephones"><li>{{tel.Telephone1}}</li></ul></td>
                <td><ul data-ng-repeat="tag in contact.Tags"><li>{{tag.Tag1}}</li></ul></td>
                <!--button za ulazak u Contact View-->
                <td>
                    <button ng-click="getDetails(contact)">
                        <img src="~/Resources/Icon_info.ico" />
                    </button>
                </td>
                <!--button za brisanje kontakta-->
                <td>
                    <button ng-click="deleteContact(contact.Id)">
                        <img src="~/Resources/Icon_delete.ico" />
                    </button>
                </td>
            </tr>
            <!--tablica koja se prikazuje ako je aktivan filteringMode, sadrzi kontakte filtrirane po searchStringu-->
            <tr data-ng-show="filteringMode" data-ng-repeat="contact in filteredContacts">
                <td>{{contact.Name}}</td>
                <td>{{contact.Surname}}</td>
                <td>{{contact.Address}}</td>
                <td><ul data-ng-repeat="em in contact.Emails"><li>{{em.Email1}}</li></ul></td>
                <td><ul data-ng-repeat="tel in contact.Telephones"><li>{{tel.Telephone1}}</li></ul></td>
                <td><ul data-ng-repeat="tag in contact.Tags"><li>{{tag.Tag1}}</li></ul></td>
                <td>
                    <button ng-click="getDetails(contact)">
                        <img src="~/Resources/Icon_info.ico" />
                    </button>
                </td>
                <td>
                    <button ng-click="deleteContact(contact.Id)">
                        <img src="~/Resources/Icon_delete.ico" />
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="add_tr">
                    <button ng-hide="addMode" ng-click="addMode = true">
                        <img src="~/Resources/Icon_add.ico" />  Dodaj novi kontakt
                    </button>
                </td>
            </tr>
            <!--redak koji se pokazuje ako je aktivan addMode, daje input boxove za unos kontakta te gumb za spremanje
            i gumb za back-->
            <tr ng-show="addMode">
                <td style="vertical-align:middle">Ime: <input class="text_box" type="text" ng-model="newContact.Name" /></td>
                <td style="vertical-align:middle">Prezime: <input class="text_box" type="text" ng-model="newContact.Surname" /></td>
                <td style="vertical-align:middle">Adresa: <input class="text_box" type="text" ng-model="newContact.Address" /></td>
                <td>E-mail <i>(ako ih je više, odvojiti zarezom)</i>: <input class="text_box" type="text" ng-model="newContact.Email" /></td>
                <td>Broj telefona <i>(ako ih je više, odvojiti zarezom)</i>: <input class="text_box" type="text" ng-model="newContact.Telephone" /></td>
                <td>Tagovi <i>(ako ih je više, odvojiti zarezom)</i>: <input class="text_box" type="text" ng-model="newContact.Tags" /></td>
                <td vertical-align:middle">
                    <button ng-click="addMode = false; addContact(newContact)">
                        <img src="~/Resources/Icon_save.ico" />
                    </button>
                </td>
                <td vertical-align:middle">
                    <button ng-click="addMode = false">
                        <img src="~/Resources/Icon_back.ico" />
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>