
<div class="table_div">
    <table class="table table-striped table-hover">
        <tr>
            <th>Ime</th>
            <td>{{$root.Name}}</td>
        </tr>
        <tr>
            <th>Prezime</th>
            <td>{{$root.Surname}}</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>{{$root.Address}}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><ul data ng-repeat="email in $root.Email"><li>{{email}}</li></ul></td>
        </tr>
        <tr>
            <th>Broj telefona</th>
            <td><ul data ng-repeat="tel in $root.Telephone"><li>{{tel}}</li></ul></td>
        </tr>
        <tr>
            <th>Tagovi</th>
            <td><ul data ng-repeat="tag in $root.Tags"><li>{{tag}}</li></ul></td>
        </tr>
    </table>

</div>
