<div class="table_div" >
    <table class="table table-striped table-hover">
        <tr>
            <th>Ime</th>
            <td>{{$root.Name}}</td>
        </tr>
        <tr>
            <th>Prezime</th>
            <td>{{$root.Surname}}</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>{{$root.Address}}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{$root.Email}}</td>
        </tr>
        <tr>
            <th>Broj telefona</th>
            <td>{{$root.Telephone}}</td>
        </tr>
        <tr>
            <th>Tagovi</th>
            <td>{{$root.Tags}}</td>
        </tr>
    </table>
    
</div>
